
body{
    font-family: poppins;
    /* background-image: linear-gradient(to top, #f77062 0%, #fe5196 100%); */
    background-color: #333;
}

/* navbar */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    padding: 1rem;
    width: 100%;
    box-sizing: border-box;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    transition: transform 0.3s ease-out;
    /* box-shadow: 2px 10px 10px 2px rgba(0, 0, 0, 0.5); */
    box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.1);
  }
  
  .navbar-logo {
    display: flex;
    align-items: center;
    margin-right: auto;
    margin-left: 3rem;
  }
  
  .navbar-logo img {
    height: 1.5rem;
    width: auto;
    margin-right: 1rem;
  }
  
  .navbar-links {
    display: flex;
    list-style: none;
    font-family: kanit;
    margin: 0;
    padding: 0;
    margin-right: 5%;
  }
  
  .navbar-links li {
    margin-right: 3rem;
  }
  
  .navbar-links li:last-child {
    margin-right: 0;
  }
  
  .navbar-links a {
    color: #fff;
    text-decoration: none;
    font-size: 1.2rem;
    line-height: 4rem;
  }
  
  .navbar-links a:hover{
    color: #0073ff;
  }

  .nav-link.active {
    color: #0073ff;
  }

/* banner */
.banner {
    /* position:relative; */
    top: 0;
    left: 0;
    right: 0;
    background-image: url("../img/poster.jpg");
    background-size: cover;
    background-position: center;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    text-align: center;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    margin: 50 -8 150 -8;
  }
  
  .banner p {
    position:absolute;
    margin: 1rem 0;
    font-size: 3rem;
    max-width: 40%;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  }

  .banner a{
    color: goldenrod;
  }

  /* content */
  .content{
      text-align: center;
      margin: 50 60 250 60;
      color: white;
}
.content h1{
    font-size: 50;
    font-family: kanit;
}

.content p{
    margin-top: 50px;
    font-weight: 400;
    /* padding: 10rem; */
}

/* our sevice */

  .containercard{
    box-shadow: 0 5px 90px 5px rgba(0, 0, 0, 2);
    background-image: linear-gradient(to right, #35006d 0%, #0049c6 100%);
    color: white;
    margin: 50 -8 -20 -8;
    padding:10rem 0.5rem 25rem 0.5rem;
    text-align: center;
    width: 100%;
    border-top-left-radius: 5rem ;
    border-top-right-radius: 5rem;
}  

.containercard h1{
    font-size: 50;
    margin-top: -10;
    margin-bottom: 10px;
    font-family: kanit;
    text-align: center;
}

.containercard p{
    margin-top: 2rem;
    padding: 1rem;
    font-size: 16px;
    line-height: 1.5;
}
.containercard .row {
    display: flex;
    flex-wrap: wrap;
    padding: 3rem;
}
.containercard .row > * {
    box-sizing: border-box;
    color: black;
}

.containercard .col {
    width: 50%;
    padding: 2rem;
}

.containercard .card {
    background-image: linear-gradient(to top, #dad4ec 0%, #dad4ec 1%, #f3e7e9 100%);
    padding: 2rem;
    border-radius: 2rem;
    text-align: center;
    position: relative;
    box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.1);
}

.containercard a{
    color: #333;
    text-decoration: underline;
}

.containercard a:hover{
    color: #0073ff;
    text-decoration: underline;
}


  /* form apply and container */
.containercardapply{
    box-shadow: 0 5px 90px 5px rgba(0, 0, 0, 2);
    background-image: linear-gradient(to right, #61c509 0%, #008a6a 100%);
    color: white;
    margin: -15rem -8 -20 -8;
    padding:10rem 0.5rem 10rem 0.5rem;
    text-align: center;
    width: 100%;
    border-top-left-radius: 5rem ;
    border-top-right-radius: 5rem;
}  

.containercardapply h1{
    font-size: 50;
    margin-top: -10;
    margin-bottom: 10px;
    font-family: kanit;
    text-align: center;
}

.containercardapply p{
    margin-top: 2rem;
    padding: 1rem;
    font-size: 16px;
    line-height: 1.5;
}
.containercardapply .row {
    display: flex;
    flex-wrap: wrap;
    padding: 3rem;
}
.containercardapply .row > * {
    box-sizing: border-box;
    color: black;
}

.containercardapply .col {
    width: 100%;
    padding: 2rem;
}

  form {
    margin-bottom: 20px;
    text-align: left;
  }
  
  label {
    display: block;
    margin-bottom: -0.1rem;
    margin-top: 1rem;
    margin-left: 0.5%;
  }
  
  input[type="text"],
  input[type="email"],
  input[type="tel"],
  input[type="file"],
  select,
  textarea {
      font-family: poppins;
      width: 100%;
      padding: 1rem;
      margin-bottom: 1.3rem;
      border: 1px solid #ccc;
      border-radius: 0.5rem;
      box-sizing: border-box;
      resize: vertical;
  }
  
  input[type="submit"] {
    background-color: #4CAF50;
    color: white;
    padding: 1rem 2rem;
    border: none;
    border-radius: 0.5rem;
    cursor: pointer;
    width: 100%;
    margin-top: 2%;
  }
  
  input[type="submit"]:hover {
    background-color: #45a049;
    width: 100%;
  }

  .image-right {
    float: left;
    width: 50%;
    margin: 0 0 10px 10px;
  }

  .containercardapply .card {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 20px;
    background-image: linear-gradient(to top, #dad4ec 0%, #dad4ec 1%, #f3e7e9 100%);
    padding: 3rem;
    border-radius: 2rem;
    text-align: center;
    position: relative;
    box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.1);
  }
  
  .containercardapply .card-image {
    width: 55%;
    object-fit: cover;
    border-radius: 2rem;
  }
  
  .containercardapply .card-form {
    width: 40%;
  }
  
  .containercardapply .card-form label {
    display: block;
    margin-bottom: 5px;
  }
  
  .containercardapply .card-form input,
  .containercardapply .card-form textarea {
    width: 100%;
    margin-bottom: 10px;
  }
  
  .containercardapply .card-form select {
    width: 100%;
    margin-bottom: 10px;
  }
  
  .containercardapply .card-form .radio-group {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
  }
  
  .containercardapply .card-form .radio-group label {
    margin-right: 10px;
  }
  
  .containercardapply .card-form .select-group {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
  }
  
  .containercardapply .card-form input[type="submit"] {
    width: 100%;
    margin-bottom: 0
  }

  /* footer */
  footer{
    background-color: #333;
    color: #fff;
    margin: -10 -8 -10 -8;
    padding-bottom: 0.1rem;

  }
  footer .column{
    padding: 3rem;
    margin-left: -1.5rem;
    box-sizing: border-box;
    width: 25%;
    text-align: center;

  }
  footer ul{
    margin-left: -2.3rem;
  }

  footer a{
    text-decoration: none;
    color: #fff;
    font-size: small;
  }

  footer a:hover{
    text-decoration: none;
    color:#0073ff;
    font-size: small;
  }

  footer p{
    text-align: center;
    font-size: 10px;
  }

  footer .linkmy a{
    text-align: center;
    font-size: 10px;
    color: white;
  }

  .container {
    display: flex;
    flex-wrap: wrap;
    justify-content:center;
  }

  .column img{
    margin: 10;
  }

